.center-text {
  text-align: center !important; }

.line-left {
  position: relative; }
  .line-left:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #32BFC1; }

.line-right {
  position: relative; }
  .line-right:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #32BFC1; }

.line-up {
  position: relative; }
  .line-up:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: gray; }

.line-bottom {
  display: inline-block;
  position: relative; }
  .line-bottom:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #E4D829; }

*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 72.5%;
  /* 10 px */ }

body {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7 !important;
  font-family: sans-serif; }

main {
  background-image: url(../image/banner/banner10.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%; }

.up {
  background-color: #FFF;
  border-radius: 3px;
  border: 0.1rem solid lightgray;
  padding: .3rem .7rem;
  display: inline-block;
  transition: all .2s;
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 9999; }
  .up:hover {
    background-color: #32BFC1;
    box-shadow: 0 0.2rem 0.7rem gray;
    border: .1rem solid transparent;
    transform: translateY(-0.3rem); }
  .up_img {
    width: 2rem; }

.section-service {
  padding: 4rem 0; }

.section-product {
  padding: 4rem 0; }

.section-footer {
  padding: 4rem 0; }

/*

0    - 600
600  - 900
900  - 1200
1200 - 1400 normal
1400 - 1800
1800 +
@media screen and (min-width: 200px) and (max-width: 600px) {

}
@media screen and (min-width: 600px) and (max-width: 1200px) {

}
@media screen and (min-width: 1400px) and (max-width: 1800px) {

}
@media screen and (min-width: 1800px) {

}
*/
.heading_primary {
  font-size: 9rem;
  letter-spacing: 6px;
  font-weight: bolder;
  color: #FFF;
  display: inline-block; }
  @media screen and (min-width: 200px) and (max-width: 600px) {
    .heading_primary {
      font-size: 6rem;
      letter-spacing: 1px; } }
  @media screen and (min-width: 600px) and (max-width: 1200px) {
    .heading_primary {
      font-size: 8rem;
      letter-spacing: 3px; } }

.heading_secondary {
  font-size: 4rem;
  color: rgba(14, 17, 1, 0.93) !important;
  opacity: 0.8; }
  @media screen and (min-width: 200px) and (max-width: 600px) {
    .heading_secondary {
      font-size: 2.5rem; } }
  @media screen and (min-width: 600px) and (max-width: 1200px) {
    .heading_secondary {
      font-size: 3rem; } }

.heading_third {
  font-size: 2rem; }
  @media screen and (min-width: 200px) and (max-width: 500px) {
    .heading_third {
      font-size: 1.7rem; } }

.heading_para {
  font-size: 1.4rem;
  color: gray; }
  @media screen and (min-width: 200px) and (max-width: 600px) {
    .heading_para {
      font-size: 1.3rem; } }

.heading_forth {
  font-size: 1.3rem;
  color: gray; }

.margin-top-1 {
  margin-top: 1rem !important; }

.margin-top-2 {
  margin-top: 2rem !important; }

.margin-top-4 {
  margin-top: 4rem !important; }

.margin-top-6 {
  margin-top: 6rem !important; }

.margin-bottom-1 {
  margin-bottom: 1rem !important; }

.margin-bottom-2 {
  margin-bottom: 2rem !important; }

.margin-bottom-3 {
  margin-bottom: 3rem !important; }

.margin-bottom-4 {
  margin-bottom: 4rem !important; }

.margin-bottom-8 {
  margin-bottom: 8rem !important; }

.margin-up-bottom-5 {
  margin: 5rem 0 !important; }

.padding-left-2 {
  padding-left: 2rem !important; }

.padding-right-2 {
  padding-right: 2rem !important; }

.padding-up-bottom-5 {
  padding: 5rem 0 !important; }

.banner {
  background-image: linear-gradient(to right bottom, #32bfc1, rgba(50, 191, 193, 0.7));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10rem 0; }
  .banner_imgbox--image {
    width: 25rem !important; }

.banner-signin_imgbox--image {
  width: 12rem !important; }

.btn:link,
.btn:visited {
  display: inline-block;
  border-radius: 10rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  color: gray;
  transition: all .4s;
  position: relative;
  font-size: 1rem; }
  @media screen and (min-width: 375px) and (max-width: 812px) {
    .btn:link,
    .btn:visited {
      font-size: 1.2rem; } }
  .btn:link::after,
  .btn:visited::after {
    content: "";
    display: inline-block;
    border-radius: 10rem;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn:link:hover,
  .btn:visited:hover {
    transform: translateY(-0.5rem); }
    .btn:link:hover::after,
    .btn:visited:hover::after {
      transform: scale(1.5);
      opacity: 0; }
  .btn:link:active,
  .btn:visited:active {
    transform: translateY(0); }

.btn-white {
  background-color: white; }
  .btn-white::after {
    background-color: white; }

.btn-green {
  background-image: linear-gradient(to right top, lightgreen, darkgreen);
  color: #ffffff !important; }
  .btn-green::after {
    background-color: green;
    color: white; }

.btn-text:link,
.btn-text:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5rem;
  color: #1DBF73;
  transition: all .4s;
  font-size: 1.4rem; }
  .btn-text:link:hover,
  .btn-text:visited:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.79);
    border-radius: .2rem;
    color: white;
    transform: translateY(-3px); }
  .btn-text:link:active,
  .btn-text:visited:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.79);
    background-color: green;
    color: white;
    transform: translateY(2px); }

.btn-read {
  display: inline-block;
  text-decoration: none;
  padding: .5rem;
  color: #32BFC1;
  transition: all .4s;
  font-size: 1.4rem;
  border-bottom: 1px solid #32BFC1;
  background-color: transparent; }
  .btn-read:hover {
    text-decoration: none;
    background-color: #32BFC1;
    border-bottom: 1px solid #32BFC1;
    color: #FFF;
    border-radius: .2rem; }
  @media screen and (min-width: 375px) and (max-width: 812px) {
    .btn-read {
      font-size: 1.6rem; } }

.carousel {
  background: #EEE; }

.carousel-cell {
  width: 28%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  margin: 2rem 0;
  padding: 1.2rem;
  transform-style: preserve-3d; }
  @media (max-width: 950px) {
    .carousel-cell {
      width: 50%  !important; } }
  @media (max-width: 600px) {
    .carousel-cell {
      width: 100%  !important; } }

.form-group_1 {
  font-size: 4rem; }

.form-control_1 {
  height: 5rem;
  font-size: 1.6rem;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid gray !important; }
  .form-control_1:focus {
    outline: none !important;
    -webkit-box-shadow: none !important; }

.form-control_2 {
  height: 4rem;
  font-size: 1.3rem;
  border: 0.5px solid lightgray !important;
  transition: all .2s; }
  .form-control_2:focus {
    background-color: lightgray;
    outline: none !important;
    -webkit-box-shadow: none !important; }

.form-check-input {
  margin-top: 1rem !important; }

.remember_me {
  margin-top: -1rem;
  padding-left: .5rem; }

.footer_title {
  font-size: 2rem;
  color: gray !important;
  transition: all .2s; }
  .footer_title:hover {
    color: #32BFC1 !important; }

.footer_link {
  font-size: 1.3rem;
  padding: .5rem 0;
  color: rgba(14, 17, 1, 0.93) !important;
  display: block;
  text-decoration: none !important;
  transition: all .2s; }
  .footer_link:hover {
    color: #32BFC1 !important; }

.footer_contact--box {
  display: flex; }

.footer_contact--imgbox {
  padding-right: 1.5rem;
  padding-bottom: 1rem; }

.footer_contact--img {
  width: 1.5rem;
  margin-top: -.5rem; }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, #32bfc1, rgba(50, 191, 193, 0.7));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem 0; }

.navbar_container {
  background-color: #FFF !important;
  border-bottom: 0.5px solid lightgray; }

.navbar {
  padding: 1.5rem 0; }
  .navbar_logo {
    width: 12rem; }

.nav-link {
  font-size: 1.5rem;
  color: gray;
  margin-left: 1rem; }
  .nav-link:hover {
    color: #32BFC1 !important; }

.nav-img {
  width: 1.9rem;
  padding-left: .5rem; }

.dropdown-item {
  font-size: 1.3rem;
  color: gray; }
  .dropdown-item:hover {
    color: #32BFC1 !important; }

.about {
  padding: 4rem 0; }
  .about_body--txt {
    font-size: 1.5rem; }
  .about_gallary--image {
    width: 15rem !important;
    background-color: red; }

.service__one {
  padding: 2rem;
  display: flex;
  align-items: center; }
  .service__one--content {
    text-align: center; }

.service__two {
  margin-top: 2rem;
  padding: 2rem; }
  .service__two--box {
    padding: .5rem 1rem;
    display: flex; }
  .service__two--imgbox {
    padding-right: 2rem;
    padding-bottom: 2rem; }
  .service__two--img {
    width: 3.5rem; }
  .service__two--txtbox {
    padding-right: 2rem;
    padding-bottom: 2rem; }
  .service__two--link {
    color: gray !important;
    transition: all .2s; }
    .service__two--link:hover {
      color: #32BFC1 !important; }

.product_box {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 1rem;
  width: 27rem;
  height: 40rem;
  transition: all .3s;
  background-color: #FFF; }
  .product_box__imgbox--img {
    margin-top: 1rem;
    width: 12rem; }
  .product_box__txtbox {
    padding: 2rem; }
    .product_box__txtbox--title {
      font-size: 97% !important; }
    .product_box__txtbox--body {
      font-size: 1.2rem !important; }
  .product_box:hover {
    box-shadow: 0 0.5rem 1rem lightgray; }

.product_page {
  padding: 4rem 0; }
  .product_page__card {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 1rem;
    min-width: 20rem;
    max-width: 30rem;
    margin: 1rem;
    transition: all .3s;
    background-color: #FFF; }
    .product_page__card--image {
      margin-top: 1rem;
      width: 20rem; }
    .product_page__card--body {
      padding: 2rem; }
    .product_page__card--title {
      font-size: 1.7rem !important; }
    .product_page__card--content {
      font-size: 1.2rem !important; }
    .product_page__card:hover {
      box-shadow: 0 0.5rem 1rem lightgray; }

.section-signin {
  padding: 5rem 0; }

.signin_nav {
  width: 47%;
  text-align: center; }

.signin_content {
  background-color: #FFF;
  padding: 2.5rem;
  border-radius: 3px;
  border-top: 0px solid lightgray;
  border-left: 0.5px solid lightgray;
  border-bottom: 0.5px solid lightgray;
  border-right: 0.5px solid lightgray; }

.terms {
  padding: 4rem; }
  @media screen and (min-width: 300px) and (max-width: 640px) {
    .terms {
      padding: .5rem 0; } }
  .terms_heading {
    margin: 0 auto;
    font-size: 1.7rem;
    text-decoration: none !important;
    text-transform: capitalize;
    color: #32BFC1;
    cursor: pointer;
    transition: all .2s; }
    .terms_heading:hover {
      text-decoration: none !important; }
  .terms_para {
    font-size: 1.4rem;
    color: gray; }
