//#32BFC1
// #E4D829
// #E3D827
// .white { background-color: $white-colour !important; z-index: 100 !important;}
$base-colour : #32BFC1;
$second-colour : #E4D829;

$white-colour : #FFF;
$black-colour : #0e1101;
$gray-colour : gray;
