*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 72.5%; /* 10 px */
  // font-size: 62.5%; /* 10 px */
  // font-size: 52.5%;  10 px
}

body {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7 !important;
  font-family: sans-serif;
  // background-color: green;
}


main {
    background-image:url(../image/banner/banner10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.up {
  background-color: #FFF;
  border-radius: 3px;
  border: .1rem solid lightgray;
  padding: .5rem 1rem;
  display: inline-block;
  transition: all .2s;

  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 9999;

  &:hover {
    background-color: rgba(126,213,111,0.8);
    box-shadow: 0 .2rem .7rem gray;
    border: .1rem solid transparent;
    transform: translateY(-.3rem);
  }

  &_img {
   width: 2rem;
  }
}

.section-header {
  // padding: 4rem 0;
}

.section-service {
  padding: 4rem 0;
}

.section-tools {
  padding: 4rem 0;
}

.section-whyus {
  padding: 4rem 0;
  // background-color: yellow;
}

.section-hire {
  padding: 4rem 0;
  // background-color: yellow;
}

.section-footer {
  padding: 4rem 0;
  background-color: #011f46;
  background-image:linear-gradient(to right bottom,
                    rgba(#011f46,0.8),
                    rgba(#011f46,0.4)),
                    url(../image/banner/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  padding: 2rem 0;
}

// media query manager
/*

0    - 600
600  - 900
900  - 1200
1200 - 1400 normal
1400 - 1800
1800 +

*/
