.heading_primary {
  font-size: 9rem;
  letter-spacing: 6px;
  font-weight: bolder;
  color: $white-colour;
  display: inline-block;
  line-height: .8 !important;
}
.heading_secondary {
  font-size: 4rem;
  color: rgba($black-colour, 1);
  opacity: 0.8;
  line-height: .8 !important;

}
.heading_third {
  font-size: 2rem;
  // font-weight: bold;
  color: $white-colour;
}
.heading_para {
  font-size: 1.2rem;
  font-weight: 600;
  color: $gray-colour;
}
.heading_head {
  font-size: 3.5rem;
  font-weight: bold;
  color: #1DBF73;
}
.heading_footer {
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
}
