.header {
  height: 90vh;
  background-image:linear-gradient(to right bottom,
                  rgba($base-colour,1),rgba($base-colour,0.7));
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  padding: 5rem 0;
  // display: flex;
  &_box {
    // background-color: red;
    margin: 15vh auto;
    line-height: 1rem;
    padding: 3rem;
  }
}
