.navbar {
  // background-color: red !important;
  height: 10vh;
  &_logo {
    width: 12rem;
  }
}

.nav-link {
  font-size: 1.5rem;
  color: $gray-colour;
  margin-left: 1rem;
  &:hover {
    color: $base-colour !important;
  }
}

.dropdown-item {
  font-size: 1.3rem;
  color: $gray-colour;
  &:hover {
    color: $base-colour !important;
  }
}
